.controls {
  background-color:#0f0f0f;
  color: antiquewhite;
  /* pointer-events: none; */
  padding: 1rem 1rem;
  margin: 0;
  width: 250px;
  border-radius: 1rem;
}
.controlsHtml {
  top: -140px;
  left: -140px;
}
