:root {
  --pico-spacing: 0.3rem;
  --pico-form-element-spacing-horizontal: 0.3rem;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color:#0f0f0f;
  color: antiquewhite;
  /* pointer-events: none; */
  padding: 1rem 1rem;
  margin: 0;
  width: 250px;
  border-radius: 1rem;
}
.controlsHtml {
  top: -120px;
  left: -120px;
}

.control {
  display: flex;
  gap: 0rem 0.5rem;
}

label  {
  flex: 1 1 30%;
}
input[type="range"] {
  flex: 1 1 50%;
}
span {
  flex: 1 1 10%;
}

select {
  padding: 0.1rem;
}

button {
  padding: 0.3rem 1rem;
  margin-right: 0.5rem;
}