:root {

}

.controls {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: rgba(17, 17, 17, 0.9);
  color: linen;
  /* pointer-events: none; */
  padding: 1rem 1rem;
  margin: 0;
  width: 250px;
  border-radius: 1rem;
}
.controlsHtml {
  top: -120px;
  left: -120px;
}

.control {
  display: flex;
  gap: 0rem 0.5rem;
}

label {
  flex: 1 1 30%;
  color: linen;
}
input[type='range'] {
  flex: 1 1 50%;
}
span {
  flex: 1 1 10%;
}

input {
  color: linen;
}

.controlButtons {
  display: flex;
}
.buttonClose {
  margin-left: auto;
}

select {
  padding: 0.1rem;
}

button {
  margin-right: 0.5rem;
}
